body{
    background-color: rgb(245, 245, 245);
    margin-top: 0;
    margin: 0 0 0 0;
 

}

nav{
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

nav .brand{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex ;
    justify-self: self-start;
}

.lista{
    
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 10px;
}

li a{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.hero{
    margin-top: -7rem;
    background-image: url(leo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100rem;
    width: 100%;
    display: flex;
}

.card{
    background-color: white;
    width: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}